body {
    font-family: "Sofia";
    padding: 10px;
}

/* btn-box */
.btn-box{
    text-align: center;
}

/* Buttons */
.grey{
    background-color: grey;
    /* color: red; */
}
.white{
    background-color: rgb(255, 255, 255);
    color: #000000;
}


.border{
    border: 3px solid red;
    margin: 10px;
}
/* heading-text */
.heading-text{
    text-align: center;
}

/* new-box */
#new-box{
    width: 300px;
    height: 340px;
    padding: 10px;
    text-align: center;
    border: 1px solid gray;
}

.inp-btn{
    padding: 7px 25px;
    background-color: grey;
    cursor: pointer;

}
