body{
    background-color: grey;
}

.heading-secondary {
    text-transform: uppercase;
}

.div-style {
    margin: 0 auto;
    text-align: center;
    font-size: 45px;
}

#newyear{
    text-align: center;
    font-size: 30px;
    color: white;
    font-weight: bold;
}
#age {
    padding: 10px;
    font-size: 20px;
}

.custom-btn {
    padding: 10px;
    font-size: 20px;
}

.array-heading {
    text-align: center;
    font-size: 45px;
}

.heading-primary {
    align-items: center;
}

#foo{ }
.css-classA{
    color: green;
   font-size: 30px;
   border: 3px solid black;
   padding: 5px;
   background-color: yellowgreen;
}