body {
    font-family: "Sofia";
}

/* btn-box */
.btn-box{
    text-align: center;
}

/* Buttons */
.grey{
    background-color: grey;
    /* color: red; */
}
.white{
    background-color: rgb(255, 255, 255);
    color: #000000;
}


.border{
    border: 3px solid red;
    margin: 10px;
}
